apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
      objectType: deployment
  template:
    metadata:
      name: nginx
      labels:
        app: nginx
        objectType: deployment
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: nginx
                  objectType: deployment
              topologyKey: kubernetes.io/hostname
      containers:
        - name: nginx
          image: nginx:1.19-alpine
