apiVersion: batch/v1
kind: Job
metadata:
  name: pi
spec:
  completions: 4
  parallelism: 3
  template:
    spec:
      containers:
        - name: pi
          image: perl
          command: ["perl", "-Mbignum=bpi", "-wle", "print bpi(10)"]
      restartPolicy: Never
  backoffLimit: 4
